<h2>Get Account</h2>
<form action="/get_account" method="post">
  Account ID: <input type="number" name="accountId"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response4}}</h3>
<h2>Get List Of Account</h2>
<form action="/get_list_account" method="post">
  Customer ID: <input type="number" name="cust_id"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response5}}</h3>
<h2>Get Balance</h2>
<form action="/get_balance" method="post">
  Account ID: <input type="number" name="accountId"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response6}}</h3>
<h2>Create Account</h2>
<form action="/create_account" method="post">
  Customer ID: <input type="number" name="cust_id"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response7}}</h3>
