<h2>Make Lodgement</h2>
<form action="/make_lodgement" method="post">
  Account ID: <input type="number" name="accountId"><br>
  Card Number: <input type="text" name="cardNum"><br>
  Amount : <input type="number" name="amount"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response7}}</h3>

<h2>Make Withdrawal</h2>
<form action="/make_withdrawal" method="post">
  Account ID: <input type="number" name="accountId"><br>
  Card Number: <input type="text" name="cardNum"><br>
  Amount : <input type="number" name="amount"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response8}}</h3>

<h2>Make Transfer</h2>
<form action="/make_transfer" method="post">
  Account ID: <input type="number" name="accountFrom"><br>
  Account ID to: <input type="text" name="accountTo"><br>
  Amount : <input type="number" name="amount"><br>
  <input type="submit" value="Submit">
</form>
<h3>{{response9}}</h3>
